@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
* {
    font-size: 16px;
    font-family:"Poppins";
}
:root {
    --primary-bg-color: #fff;
    --secondary-bg-color: #fff;
    --primary-text-color: #666;
    --secondary-text-color: #999;
    --primary-shadow-color: rgba(0,0,0,0.25);
    --secondary-shadow-color: rgba(255,255,255,0.25);
}

body.active {
    --primary-bg-color: #121212;
    --secondary-bg-color: #333;
    --primary-text-color: #fff;
    --secondary-text-color: #eee;
    --primary-shadow-color: rgba(255,255,255,0.25);
    --secondary-shadow-color: rgba(0,0,0,0.25);
    background-color: #101010;
}

#theme-toggler {
    position: fixed;
    top: 42px;
    padding: 10px;
    font-size: 1em;
    background: var(--primary-bg-color);
    color: var(--primary-text-color);
    cursor: pointer;
    box-shadow:
    -7px -7px 20px 0px var(--secondary-shadow-color),
    -4px -4px 5px 0px var(--secondary-shadow-color),
    7px 7px 20px 0px var(--primary-shadow-color),
    4px 4px 5px 0px var(--primary-shadow-color);
    border-radius: 10px;
    z-index: 9999;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 105px; /* height of sticky header */
    /*scroll-snap-type: y mandatory;*/
}
body{
    margin:0;
    padding: 0;
    background: rgb(241, 179, 150);
    color: var(--primary-text-color);
    height: auto;
    position: relative;
    overflow-y: auto;
}
.content{
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}
.content-top{
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}
h3.Jumbo {
    position: static;
    left: 38%;
    height: 60px;
    padding-top: 0px;
    overflow: hidden;
    font-size: 4em;
    margin-top: -10px;
    color: rgb(241, 179, 150);
}
div.col-6 h5 {
    color: white;
}
ul.list-unstyled li a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: lightslategrey;
}
.list-group-item{
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    border-bottom-color: var(--primary-text-color);
}
.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: rgb(241, 179, 150);
    border-color: var(--primary-bg-color);
}
.list-group-item:active, .list-group-item:hover{
    background-color: rgb(241, 179, 150);
    color: var(--primary-text-color);
}
.list-group-item:focus{
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}
.aside {
    display: none;
}
.ilk {
    text-align: start;
}
.son {
    text-align: end;
}
.cizgi {
    top: 93px!important;
    z-index: 9999;
    background-color: var(--secondary-text-color);
}
.yazi {
    scroll-snap-align: none; /* for snapping, do "start" */
}
@media  screen and (min-width:572px) {
    h3.Jumbo {
        position: static;
        left: 38%;
        height: 90px;
        padding-top: 0px;
        overflow: hidden;
        font-size: 6em;
        margin-top: -15px;
        color: rgb(241, 179, 150);
    }
}
@media  screen and (min-width:768px) {
    h3.Jumbo {
        position: static;
        left: 38%;
        height: 105px;
        padding-top: 0px;
        overflow: hidden;
        font-size: 7em;
        margin-top: -15px;
        color: rgb(241, 179, 150);
    }
}
@media  screen and (min-width:992px) {
    html {
        scroll-behavior: smooth;
        scroll-padding-top: 72px; /* height of sticky header */
        scroll-snap-type: y mandatory;
    }
    h3.Jumbo {
        position: static;
        left: 38%;
        height: 146px;
        padding-top: 0px;
        overflow: hidden;
        font-size: 10em;
        margin-top: -15px;
        color: rgb(241, 179, 150);
    } 
    .aside {
        display: block;
        background-color: var(--primary-bg-color);
    }
    .ilk {
        text-align: center;
    }
    .son {
        text-align: center;
    }
    .ayrac {
        border-right: 1px solid var(--secondary-text-color);
    }
    .cizgi {
        top: 55px!important;
        z-index: 9999;
    }
    #theme-toggler{
        top: 10px;
    }
}