@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
* {
    font-size: 16px;
    font-family:"Poppins";
}
:root {
    --primary-bg-color: #fff;
    --secondary-bg-color: #fff;
    --primary-text-color: #666;
    --secondary-text-color: #999;
}

body.active {
    --primary-bg-color: #121212;
    --secondary-bg-color: #333;
    --primary-text-color: #fff;
    --secondary-text-color: #eee;
}

#theme-toggler {
    position: fixed;
    top: 5px;
    right: 15px;
    padding: 10px 15px;
    font-size: 15px;
    background: var(--secondary-bg-color);
    color: var(--primary-text-color);
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    z-index: 1021;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 105px; /* height of sticky header */
    scroll-snap-type: y mandatory;
}
body{
    margin:0;
    padding: 0;
    background: rgb(241, 179, 150);
    color: var(--primary-text-color);
    height: auto;
    position: relative;
    overflow-y: auto;
}
.content{
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}
.content-top{
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}
h2 {
    position: static;
    left: 38%;
    height: 76px;
    padding-top: 0px;
    overflow: hidden;
    font-size: 6em;
    margin-top: -30px;
    color: rgb(241, 179, 150);
}
h3.Jumbo {
    position: static;
    left: 38%;
    height: 60px;
    padding-top: 0px;
    overflow: hidden;
    font-size: 4em;
    margin-top: -10px;
    color: rgb(241, 179, 150);
}
div.col-6 h5 {
    color: white;
}
ul.list-unstyled li a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: lightslategrey;
}
.list-group-item{
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}
.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: rgb(241, 179, 150);
    border-color: var(--primary-bg-color);
}
.list-group-item:active, .list-group-item:hover{
    background-color: rgb(241, 179, 150);
    color: var(--primary-text-color);
}
.list-group-item:focus{
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}
.aside {
    display: none;
}
.ilk {
    text-align: start;
}
.son {
    text-align: end;
}
.cizgi {
    top: 94px!important;
    z-index: 1;
}
.yazi {
    scroll-snap-align: start;
}
@media  screen and (min-width:572px) {
    h2 {
        position: static;
        left: 38%;
        height: 137px;
        padding-top: 0px;
        overflow: hidden;
        font-size: 12em;
        margin-top: -40px;
        color: rgb(241, 179, 150);
    } 
    h3.Jumbo {
        position: static;
        left: 38%;
        height: 90px;
        padding-top: 0px;
        overflow: hidden;
        font-size: 6em;
        margin-top: -15px;
        color: rgb(241, 179, 150);
    }
    #theme-toggler {
        position: fixed;
        top: 5px;
        right: 10px;
        padding: 12px 18px;
        font-size: 18px;
        background: var(--secondary-bg-color);
        color: var(--primary-text-color);
        cursor: pointer;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        z-index: 1021;
    }
}
@media  screen and (min-width:768px) {
    h2 {
        position: static;
        left: 38%;
        height: 137px;
        padding-top: 0px;
        overflow: hidden;
        font-size: 12em;
        margin-top: -40px;
        color: rgb(241, 179, 150);
    } 
    h3.Jumbo {
        position: static;
        left: 38%;
        height: 105px;
        padding-top: 0px;
        overflow: hidden;
        font-size: 7em;
        margin-top: -15px;
        color: rgb(241, 179, 150);
    }
    #theme-toggler {
        position: fixed;
        top: 5px;
        right: 10px;
        padding: 12px 18px;
        font-size: 20px;
        background: var(--secondary-bg-color);
        color: var(--primary-text-color);
        cursor: pointer;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        z-index: 1021;
    }
}
@media  screen and (min-width:992px) {
    html {
        scroll-behavior: smooth;
        scroll-padding-top: 72px; /* height of sticky header */
        scroll-snap-type: y mandatory;
    }
    #theme-toggler {
        position: fixed;
        top: 5px;
        right: 5px;
        padding: 12px 18px;
        font-size: 25px;
        background: var(--secondary-bg-color);
        color: var(--primary-text-color);
        cursor: pointer;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        z-index: 1021;
    }
    h2 {
        position: static;
        left: 38%;
        height: 196px;
        padding-top: 0px;
        overflow: hidden;
        font-size: 16em;
        margin-top: -50px;
        color: rgb(241, 179, 150);
    }
    h3.Jumbo {
        position: static;
        left: 38%;
        height: 146px;
        padding-top: 0px;
        overflow: hidden;
        font-size: 10em;
        margin-top: -15px;
        color: rgb(241, 179, 150);
    } 
    .aside {
        display: block;
        background-color: var(--primary-bg-color);
    }
    .ilk {
        text-align: center;
    }
    .son {
        text-align: center;
    }
    .ayrac {
        border-right: 1px solid #21252940;
    }
    .cizgi {
        top: 56px!important;
        z-index: 1;
    }
}